:root {
    --background: #f6f6f6;
    --font: #333;
    --border: #444;
    --screen: #ccf;
    --calculator: #bbb;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-yellow: #FED2AA;
    --btn-yellow-hover: #FFBF86;
    --btn-yellow-active: #FFAA86;
    --btn-blue: rgb(176, 231, 231);
    --btn-blue-hover: rgb(159, 203, 219);
    --btn-blue-active: rgb(136, 169, 194);
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 410px;
    min-height: 500px;
    height: 100vh;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

.container {
    background-color: var(--calculator);
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 400px;
    box-shadow: 5px 5px 5px var(--border);
    padding: 20px;
}

.display {
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--screen);
    border: 2px solid var(--border);
    border-radius: 5px;
    text-align: right;
    word-wrap: break-word;
}

.firstLine {
    min-height: 36px;
    font-size: 24px;
}

.secondLine {
    min-height: 48px;
    font-size: 36px;
}

.buttonPad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 80px;
    height: 70px;
    font-size: 24px;
    border: 2px solid var(--border);
    border-radius: 5px;
    background-color: var(--btn);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
}

.func {
    background-color: var(--btn-blue);
}

.func:hover {
    background-color: var(--btn-blue-hover);
}

.func:active {
    background-color: var(--btn-blue-active);
}

.operator {
    background-color: var(--btn-yellow);
}

.operator:hover {
    background-color: var(--btn-yellow-hover);
}

.operator:active {
    background-color: var(--btn-yellow-active);
}

.btn.space2 {
    width: 170px;
}



  